

@{
    ViewData["Title"] = "Home Page - Backend1";
}

<div class="text">
    <h1 class="display">Calc Service Demonstration</h1>
    <ul class="pages">
        <li>@Html.ActionLink("Using Model Calc", "UsingModel")</li>
        <li>@Html.ActionLink("Using ViewData Calc", "UsingViewData")</li>
        <li>@Html.ActionLink("Using ViewBag Calc", "UsingViewBag") </a></li>
        <li>@Html.ActionLink("Using Service Injection Calc", "UsingServiceInjection")</li>
    </ul> 
</div>
